<body>
{{> navbar }}
<br><br><br>
<!-- content push wrapper -->
<div class="st-pusher" id="content">

    <!-- sidebar effects INSIDE of st-pusher: -->
    <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

    <!-- this is the wrapper for the content -->
    <div class="st-content">

        <!-- extra div for emulating position:fixed of the menu -->
        <div class="st-content-inner">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-gray">
                                <a href="#" class="btn btn-white btn-xs pull-right" onclick="showHideProfileEdit();"><i class="fa fa-pencil"></i></a>
                                <i class="fa fa-fw fa-info-circle"></i> About
                            </div>
                            <div class="panel-body">
                                <div id="displayProfile">
                                  <ul class="list-unstyled profile-about margin-none">
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Username</span></div>
                                              <div class="col-sm-8">{{userInfo.username}}</div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Email</span></div>
                                              <div class="col-sm-8">{{userInfo.email}}</div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">First Name</span></div>
                                              <div class="col-sm-8">{{userInfo.firstName}}</div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Last Name</span></div>
                                              <div class="col-sm-8">{{userInfo.lastName}}</div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Cover Photo</span></div>
                                              <div class="col-sm-8"><img src="{{userInfo.coverPhoto}}" class="img-responsive"></div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Profile Photo</span></div>
                                              <div class="col-sm-8"><img src="{{userInfo.profilePic}}" class="img-responsive"></div>
                                          </div>
                                      </li>
                                  </ul>
                                </div>
                                <div id="editProfile" style="display: none">
                                  <form action="/my_profile" method="post" enctype="multipart/form-data">
                                  <ul class="list-unstyled profile-about margin-none">
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Username</span></div>
                                              <div class="col-sm-8">{{userInfo.username}}</div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Email</span></div>
                                              <div class="col-sm-8"><input type="text" value="{{userInfo.email}}" name="email"></div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">First Name</span></div>
                                              <div class="col-sm-8"><input type="text" value="{{userInfo.firstName}}" name="firstName"></div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Last Name</span></div>
                                              <div class="col-sm-8"><input type="text" value="{{userInfo.lastName}}" name="lastName"></div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Cover Photo</span></div>
                                              <div class="col-sm-8"><img src="{{userInfo.coverPhoto}}" class="img-responsive"></div>
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-offset-4 col-sm-8">
                                                  <input type="file" name="coverPhotoUpload" id="coverPhotoUpload">
                                              </div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted">Profile Photo</span></div>
                                              <div class="col-sm-8"><img src="{{userInfo.profilePic}}" class="img-responsive"></div>
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-offset-4 col-sm-8">
                                                  <input type="file" name="fileToUpload" id="fileToUpload">
                                              </div>
                                          </div>
                                      </li>
                                      <li class="padding-v-5">
                                          <div class="row">
                                              <div class="col-sm-4"><span class="text-muted"></span></div>
                                              <div class="col-sm-8"><input class="btn btn-success" type="submit" value="Update Profile"></div>
                                          </div>
                                      </li>
                                  </ul>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  {{#if userInfo.TeamId}}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-gray">
                                {{#if isTeacher}}
                                  <div class="pull-right">
                                      <!--<a href="#" class="btn btn-primary btn-xs">Add <i class="fa fa-plus"></i></a>-->
                                  </div>
                                {{/if}}
                                <i class="fa fa-users"></i> Your Team
                            </div>
                            <div class="panel-body">
                                <script type="text/javascript">
                                    loadTeamMembers();
                                </script>
                                <ul class="img-grid" id="teamMembers"></ul>
                            </div>
                        </div>
                    </div>
                  {{/if}}
                </div>

            </div>

        </div>
        <!-- /st-content-inner -->

    </div>
    <!-- /st-content -->

</div>
<!-- /st-pusher -->

<!-- Footer -->
<footer class="footer">
    <strong>JumpInstitute LLC</strong>&copy; Copyright 2016
</footer>
<!-- // Footer -->

</div>
<!-- /st-container -->

<!-- Inline Script for colors and config objects; used by various external scripts; -->
<script>
    var colors = {
        "danger-color": "#e74c3c",
        "success-color": "#81b53e",
        "warning-color": "#f0ad4e",
        "inverse-color": "#2c3e50",
        "info-color": "#2d7cb5",
        "default-color": "#6e7882",
        "default-light-color": "#cfd9db",
        "purple-color": "#9D8AC7",
        "mustard-color": "#d4d171",
        "lightred-color": "#e15258",
        "body-bg": "#f6f6f6"
    };
    var config = {
        theme: "social-3",
        skins: {
            "default": {
                "primary-color": "#16ae9f"
            },
            "orange": {
                "primary-color": "#e74c3c"
            },
            "blue": {
                "primary-color": "#4687ce"
            },
            "purple": {
                "primary-color": "#af86b9"
            },
            "brown": {
                "primary-color": "#c3a961"
            },
            "default-nav-inverse": {
                "color-block": "#242424"
            }
        }
    };
</script>
